.Post{
    margin-top: 5%;
    width: 80%;
}
.User{
    width: 20%;
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}
.User img{
    width: 25%;
    height: 20%;
    border-radius: 50%;
    margin-right: 5%;
}
.postImage{
    width: 100%;
}
.postImage img{
    width: 100%;
}
.comment-section{
    width: 100%;
}
.comment-section input{
    width: 100%;
    padding: 2% 0%;
    border: none;
}
.comment-section input::placeholder{
    padding-left: 2%;
}